ANIMAL_INS 테이블은 동물 보호소에 들어온 동물의 정보를 담은 테이블입니다. ANIMAL_INS 테이블 구조는 다음과 같으며, ANIMAL_ID, ANIMAL_TYPE, DATETIME, INTAKE_CONDITION, NAME, SEX_UPON_INTAKE는 각각 동물의 아이디, 생물 종, 보호 시작일, 보호 시작 시 상태, 이름, 성별 및 중성화 여부를 나타냅니다.

# 1. 고양이와 개는 몇 마리 있을까  
> [출처](https://programmers.co.kr/learn/courses/30/lessons/59040)

동물 보호소에 들어온 동물 중 고양이와 개가 각각 몇 마리인지 조회하는 SQL문을 작성해주세요. 이때 고양이가 개보다 먼저 조회해주세요.

```
SELECT ANIMAL_TYPE, COUNT(*) AS count FROM ANIMAL_INS
GROUP BY ANIMAL_TYPE
ORDER BY ANIMAL_TYPE;
```

# 2. 동명 동물 수 찾기
> [출처](https://programmers.co.kr/learn/courses/30/lessons/59041)

동물 보호소에 들어온 동물 이름 중 두 번 이상 쓰인 이름과 해당 이름이 쓰인 횟수를 조회하는 SQL문을 작성해주세요. 이때 결과는 이름이 없는 동물은 집계에서 제외하며, 결과는 이름 순으로 조회해주세요.

```
SELECT NAME, COUNT(*) AS COUNT FROM ANIMAL_INS
GROUP BY NAME
HAVING COUNT(NAME) >= 2 
ORDER BY NAME;
```

# 3. 입양시각구하기(1)
> [출처](https://programmers.co.kr/learn/courses/30/lessons/59412)  

보호소에서는 몇 시에 입양이 가장 활발하게 일어나는지 알아보려 합니다. 9시부터 19시까지, 각 시간대별로 입양이 몇 건이나 발생했는지 조회하는 SQL문을 작성해주세요. 이때 결과는 시간대 순으로 정렬해야 합니다.

```
SELECT EXTRACT(HOUR FROM DATETIME) AS "HOUR", COUNT(DATETIME) AS "COUNT" FROM ANIMAL_OUTS
GROUP BY HOUR
HAVING HOUR >= 9 AND HOUR <= 19
ORDER BY HOUR;
```

# 4. 입양시각구하기(2) 
> [출처](https://programmers.co.kr/learn/courses/30/lessons/59413)

보호소에서는 몇 시에 입양이 가장 활발하게 일어나는지 알아보려 합니다. 0시부터 23시까지, 각 시간대별로 입양이 몇 건이나 발생했는지 조회하는 SQL문을 작성해주세요. 이때 결과는 시간대 순으로 정렬해야 합니다.

```
SELECT H1.HOUR, IFNULL(H2.COUNT, 0)
FROM (
    SELECT 0 as HOUR
    UNION SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 
    UNION SELECT 6 UNION SELECT 7 UNION SELECT 8 UNION SELECT 9 UNION SELECT 10
    UNION SELECT 11 UNION SELECT 12 UNION SELECT 13 UNION SELECT 14 UNION SELECT 15
    UNION SELECT 15 UNION SELECT 16 UNION SELECT 17 UNION SELECT 18 UNION SELECT 19
    UNION SELECT 20 UNION SELECT 21 UNION SELECT 22 UNION SELECT 23) H1
LEFT JOIN (
    SELECT HOUR(DATETIME) AS 'HOUR', COUNT(*) AS 'count'
    FROM ANIMAL_OUTS
    GROUP BY HOUR) AS H2 
ON H1.HOUR = H2.HOUR 
ORDER BY H1.HOUR;
```

- 마지막 문제는 테이블에 나오지 않은 시간도 포함되어 있고, COUNT가 0인 경우도 처리해야 해서 어려움